# Created by zlaubste at 9/4/2015
Feature: FEATURE

  @DXL_CLIENT_BROKER_AFFINITY_CLIENT_SIDE @FVT @FAILED_VALIDATION
  Scenario: scen1
    Then Verify client "client_1" fails over correctly when x "2" in hub are stopped and client broker affinity is restricted to a hub with "True" descendants

  @DXL_CLIENT_BROKER_AFFINITY_CLIENT_SIDE @FVT @FAILED_VALIDATION
  Scenario: scen2
    Then Verify client "client_1" fails over correctly when x "1" in hub are stopped and client broker affinity is restricted to a hub with "False" descendants

  @DXL_CLIENT_BROKER_AFFINITY_CLIENT_SIDE @FVT @FAILED_VALIDATION
  Scenario: scen3
    Then Verify client "client_1" fails over correctly when x "2" in hub are stopped and client broker affinity is restricted to a hub with "False" descendants

  @DXL_CLIENT_BROKER_AFFINITY_CLIENT_SIDE @FVT @FAILED_VALIDATION
  Scenario: scen4
    When I create a safe hub topology
    And I skip this scenario because "it is being used to clean up broker topology"