Feature: DXL Broker Extension l10n

  Background:
    Given I am connected to ePO server
    And I take a screenshot for each step

  @DXL_BROKER_EXTENSION_L10N @B-143428 @FVT @FAILED_VALIDATION
  Scenario Outline: Verify supported languages in DXL Fabric page
    Given I take a screenshot for each step
    And I login to the ePO server using <language> language
    When I go to the DXL Fabric page in ePO
    Then I print all <language> combo options

  Examples:
    | language              |
    | English               |
    | German                |
    | Spanish               |
    | Japanese              |
    | Traditional Chinese   |
    | Simplified Chinese    |
    | Portuguese - Brazil   |
    | Portuguese - Portugal |
    | French                |
    | Italian               |
    | Korean                |


  @DXL_BROKER_EXTENSION_L10N @B-143428 @FVT @FAILED_VALIDATION
  Scenario Outline: Verify not supported languages in DXL Fabric page shows options in English
    Given I login to the ePO server using <language> language
    When I go to the DXL Fabric page in ePO
    Then I verify all combo options are in English

  Examples:
    | language     |
    | Danish       |
    | Dutch        |
    | Finnish      |
    | English - UK |
    | Norwegian    |
    | Russian      |
    | Swedish      |
    | Turkish      |
